<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-5">
       
        <button class="btn btn-primary create-button" routerLink="/createaccount">Create Account</button>
      </div>
      <div class="search-container">
      
        <input type="text" placeholder="Enter Account Numer" [(ngModel)]="searchText"  class="search-input" (input)="onSearchInputChange($event)">

         
         <button class="btn btn-primary search-button" (click)="searchAccount()">Search</button>

       </div>
    <table class="table">
      <thead>
        <tr>
          <th>Account ID</th>
          <th>Account Number</th>
          <th>Customer Id</th>
          <th>AccountType</th>
          <th>Balance</th>
          
          <th></th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of AccountData">
          <td>{{ account.accountId }}</td>
          <td>{{ account.accountNumber }}</td>
          <td>{{ account.customerId }}</td>
          <td>{{ account.accountTypeId === 1 ? 'Saving' : 'Current' }}</td>
          <td>{{ account.balance }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteAccount(account.accountNumber)">Delete</button>
          </td>
         
        </tr>
      </tbody>
    </table>
  </div>