
<form [formGroup]="AccountForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="customerId">Customer ID :</label>
      <input type="text" formControlName="customerId" class="form-control" id="customerId">

      <div *ngIf="AccountForm.get('customerId')!.errors?.['required'] && AccountForm.get('customerId')!.touched" class="alert alert-danger">Customer ID is required</div>

   
    </div>
    <div class="form-group">
      <label for="AccountTypeID">AccountType</label>
      <input type="text" formControlName="AccountTypeID" class="form-control" id="AccountTypeID">

      <div *ngIf="AccountForm.get('AccountTypeID')!.errors?.['required'] && AccountForm.get('AccountTypeID')!.touched" class="alert alert-danger">AccountType is required</div>
     
    </div>
    <div class="form-group">
      <label for="balance">balance:</label>
      <input type="text" formControlName="balance" class="form-control" id="balance" min="5000">

      <div *ngIf="AccountForm.get('balance')!.errors?.['required'] && AccountForm.get('balance')!.touched" class="alert alert-danger">balance  is required</div>
      <div *ngIf="AccountForm.get('balance')!.errors?.['min'] && AccountForm.get('balance')!.touched" class="alert alert-danger">Balance must be greater than 5000</div>
      
    </div>
    
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>